* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #FEFEDF);
}


:root {
    --principal: rgb(84, 186, 233);


    --font-primary: "Inter", sans-serif;
    --font-secondary: "Browly One SC", cursive;
    --text-lg: 2em;
    --text-md: 1.6em;

}

A:hover{
   color: black;
}

.buttons {


    margin-top: 30px;
    height: 120px;


}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgb(2, 107, 16);
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;

}


.color-link {
    text-decoration: none;
    color: white;
}


.card {

    color: #02ae59;

}

.col {
    opacity: 1;
    border: #02ae59;
    text-align: center;
    

}

.card-body a {

    text-decoration: none;
    color: black;
    font-weight: 500;

}

.img {
    opacity: 1;

}


.btn-group {
    color: #02ae59;
}


.text {
    font-size: 25px;
}

.sectionTwo {
    font-size: 25px;
}

.SectionThree {
    font-size: 25px;
}

footer {
    font-size: 25px;
}

.color{
    color: black;
}

.btn-light{
    
   margin-left: 50%;
}


.inf{
    text-decoration: none;
    color: black;
}


.CM{
   
    text-align: center;
}
.MP{
    justify-content: center;
    text-align: center;
}


.text{
    text-align: center;
    justify-content: center;
    
}

h3{
    text-align: center;
}

.sectionTwo{
    text-align: center;
}


footer{
    text-align: center;
}


h4{
    text-align: center;
}

h1{
    text-align: center;
}


h2{
    text-align: center;
}


.form-check{
    text-align: center;
    margin-right: 25%;
}

.SectionThree{
    text-align: center;
}

.color{
    text-align: center
}

.img{
    text-align: center;
}


@media screen and (max-width: 768px) {
    .ul{
        font-size: .4em;
    }

   body{
    text-align: center;
   }

    .info{
        flex-wrap: wrap;
    }


    .section{
        display: grid;
        min-height: 50vh;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: 15vh 1fr 15vh;
        
    }

}