* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #98a898, #7b9f7b, #5e965d, #3e8c3f, #06811b);
}


:root {
    --principal: rgb(84, 186, 233);


    --font-primary: "Inter", sans-serif;
    --font-secondary: "Browly One SC", cursive;
    --text-lg: 2em;
    --text-md: 1.6em;

}

.navbar-nav A:hover {
  
   background: lightskyblue;
}


.buttons {


    margin-top: 30px;
    height: 120px;


}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgb(2, 107, 16);
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;

}

.navbar-nav{
    font-weight: 1000;
}

.color-link {
    text-decoration: none;
    color: black;
}


.card {

    color: #02ae59;

}

.col {
    opacity: 1;
    border: #02ae59;
    text-align: center;
    

}

.card-body a {

    text-decoration: none;
    color: black;
    font-weight: 500;

}

.img {
    opacity: 1;
    

}


.btn-group {
    color: #02ae59;
}


.text {
    font-size: 25px;
    color: black;
}

.sectionTwo {
    font-size: 25px;
}

.SectionThree {
    font-size: 25px;
}

footer {
    font-size: 25px;
}

.color{
    color: black;
}

.btn-light{
    
   margin-left: 48%;
 
}

.btn-light A:hover{
    color: black;
}


.inf{
    text-decoration: none;
    color: black;
}


.CM{
   
    text-align: center;
}
.MP{
    justify-content: center;
    text-align: center;
}


.text{
    text-align: center;
    justify-content: center;
    
}

h3{
    text-align: center;
}

.sectionTwo{
    text-align: center;
}


footer{
    
    margin-left: 1%;
}


h4{
    
    color: black;
}

h1{
    text-align: center;
}


h2{
    text-align: center;
    color: black;
}


.form-check{
    text-align: center;
    margin-right: 25%;
}

.SectionThree{
    text-align: center;
}

.color{
    text-align: center

}

.img{
    text-align: center;
}


@media screen and (max-width: 768px) {
    .ul{
        font-size: .4em;
    }

   body{
    text-align: center;
    
    width: auto;
   }

    .info{
        flex-wrap: wrap;
    }


    .section{
        display: grid;
        min-height: 50vh;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: 15vh 1fr 15vh;
        
    }

}

.container .color-link a{
  
    text-decoration: none;
    color: white;
}

.btn-success{
    text-align: center;
}


